<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754099649306-c2k2lju32qtim0e22jc8r88hi4igmdlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754099649306-c2k2lju32qtim0e22jc8r88hi4igmdlm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNeQ-gJ8UlJAQiR1VWobI4CUnptshxX9o</string>
	<key>GCM_SENDER_ID</key>
	<string>754099649306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thecodingelf.ultimatequiz</string>
	<key>PROJECT_ID</key>
	<string>ultimatequiz-e991d</string>
	<key>STORAGE_BUCKET</key>
	<string>ultimatequiz-e991d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754099649306:ios:374c0776b6d37425834aa3</string>
</dict>
</plist>